.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:  1fr;

    justify-items: center;
    align-items: center;
    padding: 1em 2em;
    border-bottom: solid black 1px;
}

button {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    border-radius: 1em;

    background-color: lightgrey;
    opacity: 0.6;
    color: black;
}

button:hover {
    background-color: lightgrey;
    opacity: 1;
    cursor: pointer;
    
}

