/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";


*{
    box-sizing: border-box;
}

html{
    background-color: rgb(226, 218, 218);
    height: 100vh;
}

body{
    margin: 0;
    font-family: "Merriweather", sans-serif;
    font-size: 18px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}

