@import "primeng/resources/themes/lara-light-blue/theme.css";

* {
    font-size: larger;
}

.text {
    font-size: 250%;
    text-align: center;
    color: black;
    padding-bottom: 0.5em;
}

.container {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    color: darkgrey;
}

.container > label {
    align-self: center;
    padding: 0.5em;
}



:host ::ng-deep .p-button {
    background-color: lightgrey;
    color: black;
}

.buttonFlex {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

