<p-dialog 
[draggable]="false" 
[(visible)]="visible" 
[modal]="true"
[style]="{width: '50vw'}
">
    <div class="text">
        Logga In
    </div>
    <div class="container">
        <label for="username">Username: </label>
        <input id="username" type="text" formControlName="username">

        <label for="password">Password: </label>
        <input id="password" type="text" formControlName="password">
        <div class="buttonFlex">
            <p-button 
            label="Logga In" 
            type="submit" 
            class="submitButtom">
            
            </p-button>
        </div>
    </div>
</p-dialog>
<p-button (click)="showDialog()" icon="pi pi-external-link" label="Show"></p-button>
