    <div class="title">
        Logga In
    </div>
        <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
                <label>Username:</label>
                <input
                    type="text" 
                    pInputText
                    formControlName="username"
                />
                <label>Password:</label>
                    <input
                        type="password"
                        pInputText
                        formControlName="password"
                    />
            <div class="buttonFlex">
                <p-button 
                    label="Logga In" 
                    type="submit" 
                ></p-button>
            </div>
        </form>

